#main {
  position: fixed;
  background-image: url('https://images.unsplash.com/photo-1465961482777-c1070dfd906b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
